.App {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  .calculator {
    height: 100%;
    display: grid;
    grid-template: 1.5fr repeat(5, 1fr) / repeat(4, 1fr);
    gap: 10px;
    border: 2px solid #333;
    padding: 10px;
    background-color: #ddd;
    box-shadow: #333 10px 10px 0px;

    button {
      border-radius: 5px;
      background-color: gray;
      color: white;
      font-size: 1.2rem;
      border: 1px solid #333;
    }
    .screen {
      display: flex;
      grid-column: 1 / 5;
      border: 2px solid #333;
      background-color: white;
      font-family: monospace;
      flex-direction: column;
      align-items: flex-end;
      p {
        margin: 0;
      }
      .history {
        font-size: 0.8rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        padding: 0.5rem 0 0 0;
        line-height: 1rem;
        &:after {
          content: "";
          display: inline-block;
          width: 0px;
        }
      }
      .current {
        font-size: 4rem;
      }
    }
    .divide {
      // row-start / col-start / row-end / col-end
      // if the element takes only one space, row-start / col-start
      grid-area: 2 / 4;
    }
    .multiply {
      grid-area: 3 / 4;
    }
    .subtract {
      grid-area: 4 / 4;
    }
    .add {
      grid-area: 5 / 4;
    }
    .wide {
      grid-column: 1 / 4;
    }
    .clear {
      grid-row: 2;
      background-color: royalblue;
      color: white;
    }
    .zero {
      grid-row: 6;
    }
    .equal {
      background-color: rgb(0, 220, 10);
      color: white;
    }
    .selected {
      background-color: orange;
    }
  }
}
